.admin_form{
    display: flex;
    position: absolute;
  left: 45%;
  z-index: 1001;
}
form{
    background-color: gray;
    padding: 20px;
    width: 300px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;

}
form label{
    color: white;
}
form input{
    border: none;
    outline: none;
    background-color: gainsboro;
}
form input:focus{
    background-color: white;
}

form button{
    margin-top: 10px;
    outline: none;
    border: none;
    background-color: gainsboro;
    color: gray;
    width: 30%;
    padding: 2px 8px;
   border-radius: 10px;
  margin-left: 70%;
}
form button:active{
    background-color: white;
    outline: none;
}

input:user-invalid{
    border: 3px solid red;
}

.overlay{
    position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.65); /* Semi-transparent black overlay */
  opacity: 100; /* Initially hidden */
  z-index: 1000; /* Adjust this value as needed to control layering */
  transition: opacity 0.3s ease, visibility 0.3s ease;
}
.overlay.show {
    opacity: 1;
    visibility: visible;
  }
.hidden{
    display: none;
}
