*{
    padding: 0;
    margin: 0;
     box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    font-family: sans-serif;
}


.flex_space{
    display: flex;
    justify-content: space-between;
}


/* header */

.content{
width: 100%;
height: 10vh;
line-height: 7vh;
padding: 10px 20px;
background: gainsboro;
position: fixed;

}
.logo{
    display: inline-block;
    margin:0 15px;
}
.logo h6{
    color: gray;
    font-size: 20px;
}
header ul{
    display: inline-block;
}
header ul li{
    display: inline-block;
    text-transform: uppercase;
}





.section1{
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    background-image: url('/picture/b.jpg');
    justify-content: center;
    background-attachment: fixed;
}
.service{

display: flex;
justify-content: center;
flex-direction: column;
align-items: center;

}


h1{
    font-size: 60px;
    margin-bottom: 20px;
    color:white;
}
h1 span{
    color: gray;
    font-size: 60px;
}
.serv{
    display: flex;
    justify-content: center;
}
.serv p{
    margin-top: 20px;
    margin-left: 25px;
}
.serv p a{
   text-decoration: underline;
    color:gray;
}


/* section two  */
.section2{
    gap: 10px;
    background-color: gainsboro;
    height: 80vh;
}
.sec2header{
    display: flex;
    justify-content: center;
}

.sec2header h4{

    margin: 40px;
    font-size: 20px;
   color:gray;
}


.card{
    height: 40vh;
    background-color: gray;
    margin: 40px 200px;
    display: flex;
border-radius: 30px;
justify-content: space-around ;
align-items: center;
}

.details{
   display: flex;
   flex-direction: column;
   align-items: center;
}
.card_icon{
   margin-bottom: 15px;
}

.num{
    margin-bottom: 15px;
    color: gray;
    background-color: gainsboro;
    padding: 7px  6px   9px    6px;
}
.lab{
    color: gainsboro;
}


/* section footer  */

.footer{
    height: 50vh;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.contact{

   width: 90vh;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}
.headcont{
    color: black;
    font-size: 25px;
}
.descrip{
    margin: 20px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.descrip p{
    margin-bottom: 10px;
    font-size: 20px;
    color: gainsboro;
}
.descrip p a{
    color: black;
    font-size: 20px;
}








